<section id="hobby" class="three">
    <div class="container">

      <header><h2>Hobby</h2></header>

      <div class="row">

        <div class="6u 12u$(mobile)">
            <p>
                <ul>
                {{ range .Site.Params.hobby.descriptions }}
                <li>{{ . }}</li>
                {{ end }}
                </ul>
            </p>
        </div>
        <div class="6u 12u$(mobile)">
          <a class="image featured"><img src="{{ .Site.Params.hobby.image }}" alt="" /></a>
        </div>

      </div>

    </div>
</section>
